@model EnrollmentApplication.Models.Enrollment

<div id="enrollment-details">
    <p>
        <em>Student:</em>
        @Model.Student.FirstName
    </p>
    <p>
        <em>Grade:</em>
        @Model.Grade
    </p>
</div>
